@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

body {
  background: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #212121;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

body p {
  font-size: 16px;
  font-weight: 400;
}

body h1, body h2, body h3, body h4 {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

body h2 {
  font-size: 40px;
  line-height: 48px;
}

body h3 {
  font-size: 20px;
  letter-spacing: .5px;
}

body h3 a {
  color: #212121;
}

header {
  position: fixed;
  width: 100vw;
  -webkit-box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.06);
  z-index: 11;
}

header nav {
  max-width: 1170px;
  padding: 0 2%;
  margin: 0 auto;
}

header nav .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

header nav .desktop-menu .desktop-menu__nav {
  display: inherit;
}

header nav .desktop-menu .desktop-menu__nav li {
  margin: 0 15px;
}

header nav .desktop-menu .desktop-menu__nav li a {
  position: relative;
  color: #ffffff;
  padding: 10px 0;
  text-transform: uppercase;
}

header nav .desktop-menu .desktop-menu__nav li a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0px;
  width: 0px;
  height: 2px;
  border-radius: 7px;
  background-color: red;
  opacity: 0;
}

header nav .desktop-menu .desktop-menu__nav li a:hover {
  color: #E91E63;
}

header nav .desktop-menu .desktop-menu__nav li:hover > a:before {
  opacity: 1;
  width: 20px;
}

header nav .mobile-menu {
  display: none;
}

header nav .mobile-menu__nav {
  position: fixed;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  max-width: 690px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
}

header nav .mobile-menu__nav ul {
  padding: 15px 20px;
}

header nav .mobile-menu__nav ul li {
  padding: 5px 0;
}

header nav .mobile-menu__nav ul li a {
  color: #222222;
  text-transform: uppercase;
}

.title {
  text-align: center;
  padding-bottom: 2rem;
}

.title h2 {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.title h2:before, .title h2:after {
  content: "";
  width: 48px;
  height: 1px;
  background-color: #E91E63;
  position: absolute;
  left: 50%;
}

.title h2:before {
  bottom: 8px;
}

.title h2:after {
  bottom: 2px;
  margin-left: 20px;
}

main section {
  padding: 0 0 60px 0;
}

main #home .swiper-container .swiper-slide {
  position: relative;
  width: 100%;
  height: 850px;
}

main #home .swiper-container .swiper-slide .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main #home .swiper-container .swiper-slide .text-content p {
  color: #ffffff;
  font-size: 20px;
}

main #home .swiper-container .swiper-slide .text-content h1 {
  font-size: 48px;
  color: #fff;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}

main #home .swiper-container .swiper-slide .button-group {
  margin-top: 2rem;
}

main #home .swiper-container .swiper-slide .button-group .btn {
  margin: 25px 25px 0px 0px;
}

main #home .swiper-container .swiper-slide:nth-child(1) {
  background: url(../images/slider/slide1.webp);
  background-position: center center;
  background-size: cover;
}

main #home .swiper-container .swiper-slide:nth-child(2) {
  background: url(../images/slider/slide2.webp);
  background-position: center center;
  background-size: cover;
}

main #home .swiper-container .swiper-slide:nth-child(3) {
  background: url(../images/slider/slide3.webp);
  background-position: center center;
  background-size: cover;
}

main #home .swiper-container .swiper-pagination-bullet {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
}

main #home .swiper-container .swiper-button-prev,
main #home .swiper-container .swiper-button-next {
  color: #ffffff;
  opacity: 0;
  border: 2px solid #fff;
  background: transparent;
  width: 44px;
}

main #home .swiper-container .swiper-button-prev:after {
  content: none;
}

main #home .swiper-container .swiper-button-next:after {
  content: none;
}

main #home .swiper-container:hover .swiper-button-prev,
main #home .swiper-container:hover .swiper-button-next {
  opacity: 1;
}

main #countdown-timer .time-count {
  margin: 15px 0 50px 0;
}

main #countdown-timer .time-count .time-entry {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 15px;
  padding: 20px;
  -webkit-box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

main #countdown-timer .time-count .time-entry p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

main #services {
  padding: 60px 0;
}

main #services .title p {
  padding-bottom: 36px;
}

main #services .services-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 40px 20px;
  text-align: center;
  border: 1px solid #ddd;
}

main #services .services-item .services-icon i {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  font-size: 48px;
  text-align: center;
  margin-bottom: 15px;
}

main #services .services-item:hover {
  background-color: #f3f4f3;
}

main #services .services-item:hover .services-icon i {
  color: #E91E63;
}

main #about {
  padding: 60px 0;
}

main #about .about-item {
  margin: 0 15px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3);
}

main #about .about-item img {
  width: 100%;
}

main #about .about-item .text-content {
  padding: 20px;
  background-color: #ffffff;
}

main #about .about-item .text-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

main #about .about-item .text-content p {
  font-size: 14px;
}

main #about .about-item .text-content .btn {
  margin-top: 10px;
  padding: 7px 10px;
}

main .counter-section {
  background-color: #E91E63;
  padding: 60px 0;
}

main .counter-section .counter {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  color: #ffffff;
  text-align: center;
}

main .counter-section .counter .icon {
  margin-bottom: 15px;
}

main .counter-section .counter .icon i {
  font-size: 60px;
}

main .counter-section .counter p {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

main #shedule {
  background-color: #f3f4f3;
  padding: 60px 0;
}

main #shedule .event-tab {
  -ms-flex-preferred-size: 255px;
      flex-basis: 255px;
}

main #shedule .event-tab .tab li .active-event {
  background-color: #E91E63;
  color: #ffffff;
}

main #shedule .event-tab .tab li .active-event .tab-text h4, main #shedule .event-tab .tab li .active-event .tab-text h5 {
  color: #ffffff;
}

main #shedule .event-tab .tab li a {
  display: block;
  background-color: #ffffff;
  height: 90px;
  width: 255px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  padding: 20px 20px;
}

main #shedule .event-tab .tab li a .tab-text h4 {
  color: #0b0b0b;
  font-size: 15px;
}

main #shedule .event-tab .tab li a .tab-text h5 {
  color: #777777;
  font-size: 14px;
}

main #shedule .event-tab .tab li a:hover {
  background-color: #E91E63;
}

main #shedule .event-tab .tab li a:hover .tab-text h4, main #shedule .event-tab .tab li a:hover .tab-text h5 {
  color: #ffffff;
}

main #shedule .tab-content {
  background-color: #ffffff;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin-left: 20px;
  height: 100%;
  -webkit-box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
}

main #shedule .tab-content .card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main #shedule .tab-content .card .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  cursor: pointer;
}

main #shedule .tab-content .card .heading .images-box {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

main #shedule .tab-content .card .heading .images-box img {
  width: 100%;
  border-radius: 50%;
}

main #shedule .tab-content .card .heading .text-content span, main #shedule .tab-content .card .heading h4, main #shedule .tab-content .card .heading h5 {
  display: block;
}

main #shedule .tab-content .card .heading .text-content span, main #shedule .tab-content .card .heading .text-content h5 {
  font-size: 14px;
  color: #777777;
  font-weight: 500;
}

main #shedule .tab-content .card .heading .text-content h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 7px;
}

main #shedule .tab-content .card .collapse {
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

main #shedule .tab-content .card .collapse .card-body {
  padding: 15px 70px 15px 110px;
  background: #f3f4f3;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

main #shedule .tab-content .card .collapse .card-body .location {
  font-size: 13px;
  color: #777777;
}

main #shedule .tab-content .card .collapse .card-body .location span {
  color: #E91E63;
}

main #team {
  padding: 60px 0;
}

main #team .btn {
  margin-top: 30px;
}

main #team .team-card {
  max-width: 350px;
  height: 350px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 15px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.17);
}

main #team .team-card:hover {
  -webkit-box-shadow: 0 25px 35px -12px rgba(0, 0, 0, 0.35);
          box-shadow: 0 25px 35px -12px rgba(0, 0, 0, 0.35);
}

main #team .team-card .img-box {
  position: relative;
  height: 322px;
}

main #team .team-card .img-box img {
  width: 100%;
}

main #team .team-card .img-box .team-overlay {
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(47, 47, 47, 0.7);
  opacity: 0;
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  overflow: hidden;
  cursor: pointer;
}

main #team .team-card .img-box .team-overlay .text-overlay {
  position: absolute;
  top: 10px;
  right: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

main #team .team-card .img-box .team-overlay .text-overlay .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #team .team-card .img-box .team-overlay .text-overlay .social-icons li {
  margin: 0 4px;
}

main #team .team-card .img-box .team-overlay .text-overlay .social-icons li a {
  text-align: center;
}

main #team .team-card .img-box .team-overlay .text-overlay .social-icons li a i {
  font-size: 20px;
  color: #fff;
  width: 36px;
  height: 36px;
  background: #E91E63;
  display: block;
  border-radius: 4px;
  line-height: 36px;
}

main #team .team-card .img-box .team-overlay:hover {
  opacity: 1;
}

main #team .team-card .img-box .team-overlay:hover .text-overlay {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

main #team .team-card .info-text {
  position: absolute;
  bottom: 18px;
  background-color: #f3f4f3;
  padding: 15px 20px;
}

main #team .team-card .info-text h3 a {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

main #team .team-card .info-text h3 a:hover {
  color: #E91E63;
}

main #team .team-card .info-text p {
  font-size: 14px;
}

main #gallery {
  padding: 60px 0;
  background-color: #f3f4f3;
}

main #gallery .gallery-item {
  max-width: 350px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin: 0 15px 30px;
  cursor: pointer;
}

main #gallery .gallery-item .img-box {
  position: relative;
  height: 300px;
}

main #gallery .gallery-item .img-box img {
  width: 100%;
  height: 100%;
}

main #gallery .gallery-item .img-box .overlay-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

main #gallery .gallery-item .img-box .overlay-box a {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #E91E63;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

main #gallery .gallery-item .img-box .overlay-box a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
}

main #gallery .gallery-item .img-box .overlay-box:hover {
  background: rgba(233, 30, 99, 0.7);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

main #gallery .gallery-item .img-box .overlay-box:hover a {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s;
  transition: all .5s;
}

main #gallery a {
  margin-top: 30px;
}

main #faq {
  padding: 60px 0;
}

main #faq #accordion {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  margin: 0 15px;
}

main #faq #accordion .accordion-item .accordion-item-header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 40px;
  height: 40px;
}

main #faq #accordion .accordion-item .accordion-item-header i {
  color: #E91E63;
  border: 1px solid #ddd;
  padding: 12.5px;
}

main #faq #accordion .accordion-item .accordion-item-header i:first-child {
  border-right: 0;
}

main #faq #accordion .accordion-item .accordion-item-header i:last-child {
  border-left: 0;
}

main #faq #accordion .accordion-item .accordion-item-header span {
  display: block;
  border: 1px solid #ddd;
  padding-left: 1rem;
  width: 100%;
  text-transform: none;
}

main #faq #accordion .accordion-item .accordion-item-content {
  padding: 15px 15px 15px 56px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  display: none;
}

main #faq #accordion .accordion-item .accordion-item-content p {
  font-size: 15px;
}

main #faq #accordion .accordion-item.show .accordion-item-content {
  display: block !important;
}

main #sponsors {
  padding: 60px 0;
  background-color: #f3f4f3;
}

main #sponsors .sponsor-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  max-width: 255px;
  height: 150px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 0 15px 30px;
}

main #sponsors .sponsor-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main #sponsors .sponsor-item:hover {
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

main #pricing {
  padding: 60px 0;
  background: url(../images/background/bg-pricing.webp);
  background-attachment: fixed;
  min-height: 837px;
}

main #pricing .title h2, main #pricing .title p {
  color: #ffffff;
}

main #pricing .price-block {
  min-width: 290px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 0 15px 1.5rem;
  height: 550px;
  background-color: #ffffff;
}

main #pricing .price-block .icon {
  text-align: center;
  padding: 20px;
}

main #pricing .price-block .icon i {
  color: #E91E63;
  font-size: 60px;
}

main #pricing .price-block .column-title {
  margin-top: 15px;
}

main #pricing .price-block .column-title h5 {
  font-size: 18px;
  line-height: 30px;
  color: #212121;
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

main #pricing .price-block .price {
  text-align: center;
  padding-bottom: 15px;
}

main #pricing .price-block .price h2 {
  font-size: 38px;
  color: #5c5c5c;
  line-height: 42px;
}

main #pricing .price-block .price p {
  font-size: 15px;
  color: #5c5c5c;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: uppercase;
}

main #pricing .price-block .pricing-list {
  padding: 10px 60px 10px 78px;
}

main #pricing .price-block .pricing-list ul {
  padding-bottom: 15px;
}

main #pricing .price-block .pricing-list ul li {
  font-size: 15px;
  color: #212121;
  font-weight: 400;
  padding: 2px 0px;
}

main #pricing .price-block .pricing-list ul li i {
  margin-right: 7px;
  font-size: 12px;
  color: #E91E63;
}

main #pricing .price-block .pricing-list ul li span {
  display: inline-block;
}

main #pricing .price-block a {
  display: block;
  margin: 0 auto;
  width: 120px;
}

main #event-slides {
  padding: 60px 0;
}

main #event-slides .col {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  margin: 15px;
}

main #event-slides .col p {
  line-height: 26px;
  margin-bottom: 30px;
}

main #event-slides .col .intro-title {
  color: #212121;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

main #event-slides .col .list-specification li {
  margin-bottom: 10px;
  font-size: 15px;
}

main #event-slides .col .list-specification li i {
  margin-right: 5px;
}

main #blog {
  padding: 60px 0;
}

main #blog .btn {
  margin-top: 30px;
}

main #blog .blog-card {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 0 15px 15px;
  position: relative;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

main #blog .blog-card .blog-img {
  height: 228px;
  overflow: hidden;
}

main #blog .blog-card .blog-img img {
  cursor: pointer;
  width: 100%;
}

main #blog .blog-card .blog-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main #blog .blog-card .blog-descr {
  position: relative;
  padding: 30px 15px;
}

main #blog .blog-card .blog-descr .tag {
  color: #E91E63;
  background-color: #ffffff;
  position: absolute;
  top: -18px;
  left: 20px;
  padding: 4px 27px;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 16px rgba(35, 31, 32, 0.15);
          box-shadow: 0px 3px 16px rgba(35, 31, 32, 0.15);
}

main #blog .blog-card .blog-descr h3 {
  line-height: 30px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

main #blog .blog-card .blog-descr h3 a:hover {
  color: #E91E63;
}

main #blog .blog-card .blog-descr .meta .date, main #blog .blog-card .blog-descr .meta .comments {
  color: #999;
  margin-right: 8px;
}

main #blog .blog-card .blog-descr .meta .comments {
  cursor: pointer;
}

main #blog .blog-card .blog-descr .meta .comments:hover {
  color: #E91E63;
}

main #contact {
  padding: 60px 0;
  background-color: #f3f4f3;
}

main #contact h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

main #contact .subscribe-inner {
  max-width: 635px;
  width: 100%;
}

main #contact .subscribe-inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main #contact .subscribe-inner form input {
  position: relative;
  background: #fff;
  border: 1px solid #E91E63;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888999;
  height: 55px;
  padding: 0 25px;
  margin-right: -1px;
  -ms-flex-preferred-size: 82%;
      flex-basis: 82%;
}

main #contact .subscribe-inner form input:focus {
  color: #212121;
}

main #contact .subscribe-inner form input[type=email] {
  font-size: 18px;
}

main #contact .subscribe-inner form .btn {
  height: 55px;
  margin: 0;
  margin-left: -1px;
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  padding: 18px 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

main #map iframe {
  width: 100%;
  height: 450px;
}

main #contact-map .form-wrapper {
  padding: 56px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 620px;
}

main #contact-map .form-wrapper form {
  background-color: #ffffff;
}

main #contact-map .form-wrapper form .form-field {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
  margin: 0 3% 30px;
}

main #contact-map .form-wrapper form .form-field input {
  width: 100%;
  line-height: 26px;
  font-size: 14px;
  color: #848484;
  text-transform: capitalize;
  background: #f7f7f7;
  border: 1px solid transparent;
  padding: 7px 19px;
}

main #contact-map .form-wrapper form .form-field .help-block {
  display: none;
  margin-top: 10px;
  color: #dc3545 !important;
}

main #contact-map .form-wrapper form .form-field textarea {
  padding: 5px 10px;
  width: 100%;
  height: 150px;
  resize: none;
  background-color: #f7f7f7;
  border: none;
}

main #contact-map .form-wrapper form button {
  opacity: .65;
  -webkit-box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 3%;
}

main #contact-map .form-wrapper form .fill {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer {
  background-color: #222222;
  padding: 60px 0;
}

footer .col {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 0 20px;
}

footer .col .text-content p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  padding-right: 50px;
}

footer .col h3 {
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 10px;
}

footer .col a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
}

footer .col a:hover {
  color: #E91E63;
}

footer .col .image-list li {
  display: inline-block;
}

footer .col .image-list li:last-child {
  margin-top: 10px;
}

footer .col .image-list li figure {
  float: left;
  width: 70px;
  height: 60px;
}

footer .col .image-list li figure img {
  width: 100%;
}

footer .col .image-list li .post-content {
  margin-left: 85px;
}

footer .col .image-list li .post-content .meta {
  color: #999999;
}

footer .col .widget {
  margin-top: 10px;
  margin-bottom: 20px;
}

footer .col form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .col form input {
  -ms-flex-preferred-size: 82%;
      flex-basis: 82%;
  position: relative;
  line-height: 27px;
  font-size: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #848484;
  text-transform: capitalize;
  background: #f7f7f7;
  padding: 7px 19px;
  border: 1px solid #e5e5e5;
}

footer .col form button {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
}

footer .col .social-links li {
  display: inline-block;
}

footer .col .social-links li a {
  color: #000;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 40px;
  display: block;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 5px;
}

.hide {
  display: none !important;
}

.showCollapse {
  display: block;
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transition: all .2s !important;
  transition: all .2s !important;
  height: 100% !important;
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  main #services .services-item:nth-child(1) {
    border-left: 0px;
    border-top: 0px;
  }
  main #services .services-item:nth-child(2) {
    border-top: 0px;
  }
  main #services .services-item:nth-child(3) {
    border-right: 0px;
    border-top: 0px;
  }
  main #services .services-item:nth-child(4) {
    border-left: 0px;
    border-bottom: 0px;
  }
  main #services .services-item:nth-child(5) {
    border-bottom: 0px;
  }
  main #services .services-item:nth-child(6) {
    border-right: 0px;
    border-bottom: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  header nav .desktop-menu {
    display: none;
  }
  header nav .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 65px;
    z-index: 11111;
  }
  header nav .mobile-menu .burger__btn {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #222222;
    border-radius: 5px;
    border: 1px solid #222222;
  }
  header nav .mobile-menu .burger__btn span, header nav .mobile-menu .burger__btn span:after, header nav .mobile-menu .burger__btn span:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20px;
    height: 2px;
    background-color: #E91E63;
    border-radius: 5px;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  header nav .mobile-menu .burger__btn span:after, header nav .mobile-menu .burger__btn span:before {
    content: "";
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header nav .mobile-menu .burger__btn span:after {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  header nav .mobile-menu .burger__btn span:before {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  header nav .mobile-menu .burger__btn:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  header nav .mobile-menu .burger__btn__active span {
    height: 0;
  }
  header nav .mobile-menu .burger__btn__active span:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header nav .mobile-menu .burger__btn__active span:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header nav .mobile-menu__active {
    opacity: 1;
    top: 0;
    visibility: visible;
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-transition: all .6s ease-in;
    transition: all .6s ease-in;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  }
  main #home .swiper-container .swiper-button-next, main #home .swiper-container .swiper-button-prev {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 719px) {
  .container {
    padding: 0 15px;
  }
  .title, h2 {
    text-align: center !important;
  }
  .title h2, h2 h2 {
    font-size: 20px;
  }
  .title h2:before, h2 h2:before {
    margin-left: -45px;
  }
  .title h2:after, h2 h2:after {
    margin-left: -30px;
  }
  main #home .swiper-container .swiper-slide {
    height: 640px;
  }
  main #home .swiper-container .swiper-slide .text-content {
    padding: 0 10px;
    text-align: center;
  }
  main #home .swiper-container .swiper-slide .text-content h1 {
    font-size: 40px;
    line-height: 48px;
  }
  main #home .swiper-container .swiper-slide .text-content .button-group .btn {
    margin: 25px 0 0 0;
  }
  main #countdown-timer .time-countdown .time-entry {
    width: 100px;
    height: 100px;
  }
  main #countdown-timer .time-countdown .time-entry p {
    font-size: 35px;
    line-height: 35px;
  }
  main #countdown-timer .time-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #services .services-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  main #services .services-item:last-child {
    border-bottom: none;
  }
  main #about .about-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 25px;
  }
  main #about .about-item:last-child {
    margin-bottom: 0;
  }
  main .counter-section .counter {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 35px;
  }
  main .counter-section .counter:last-child {
    margin-bottom: 0;
  }
  main #shedule .event-tab {
    margin: 0 auto 25px;
  }
  main #shedule .event-tab .tab li a {
    width: 290px;
  }
  main #shedule .tab-content {
    margin-left: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main #shedule .tab-content .card .heading {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #shedule .tab-content .card .heading .images-box img {
    width: 70px;
    height: 70px;
  }
  main #shedule .tab-content .card .heading .text-content h4 {
    font-size: 14px;
  }
  main #team .team-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 25px 0;
    height: 290px;
    max-width: 290px;
  }
  main #team .team-card .img-box {
    height: 270px;
  }
  main #team .team-card .info-text {
    bottom: 10px;
  }
  main #gallery .gallery-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 25px 0;
  }
  main #gallery .gallery-item:last-child {
    margin-bottom: 0;
  }
  main #faq #accordion {
    margin: 0 0 25px 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main #faq #accordion .accordion-item .accordion-item-header {
    font-size: 11px;
    line-height: 36px;
    height: 38px;
  }
  main #sponsors .sponsor-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main #event-slides .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main #event-slides .video img {
    width: 100%;
  }
  main #blog .blog-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 25px 0;
  }
  main #blog .blog-card:last-child {
    margin-bottom: 0;
  }
  main #contact h2 {
    font-size: 20px;
  }
  main #contact .subscribe-inner form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main #contact .subscribe-inner form input {
    margin-bottom: 25px;
  }
  main #contact .subscribe-inner form .btn {
    margin-left: 0;
    position: relative;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  main #contact-map .form-wrapper {
    padding: 15px;
  }
  footer .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 25px;
  }
  footer .col:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 719px) and (orientation: landscape) {
  main #shedule .event-tab .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #shedule .event-tab .tab li a {
    max-width: 140px;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1000px) {
  main #home .swiper-container .swiper-slide .text-content h1 {
    line-height: 50px;
    text-align: center;
  }
  main #about .about-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 25px;
  }
  main #about .about-item:last-child {
    margin-bottom: 0;
  }
  main #shedule .event-tab .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 35px;
  }
  main #shedule .event-tab .tab li a {
    width: 170px;
  }
  main #gallery .gallery-item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  main #faq #accordion {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  main #blog .blog-card {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  main #contact h2 {
    text-align: center;
  }
  footer .col {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  footer .col:nth-child(1), footer .col:nth-child(2) {
    margin-bottom: 25px;
  }
}

.active {
  color: #E91E63;
}

.turn__bg {
  background-color: #fff;
}

.turn__bg nav .desktop-menu .desktop-menu__nav li a {
  color: #212121;
}

.turn__bg nav .desktop-menu .desktop-menu__nav li a:hover {
  color: #212121;
}

.back-to__top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
}

.back-to__top i {
  display: none;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #E91E63;
  border-radius: 0px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.show {
  display: block !important;
}

.show i {
  display: block;
}

.btn {
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  text-transform: uppercase;
}

.btn-common {
  background-color: #E91E63;
  position: relative;
  z-index: 1;
  border: 1px solid #E91E63;
}

.btn-common:hover {
  background-color: #F50057;
}

.btn-lg {
  padding: 12px 34px;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-border:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
