html {
  scroll-behavior: smooth;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

input:focus, input:active, textarea:focus, textarea:active, button:focus, button:active {
  outline: none;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ffffff;
  color: #676a81;
  font-family: 'Poppins';
}

body p {
  color: #999fb3;
  font-size: 16px;
  line-height: 1.8;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #43485c;
  font-weight: bold;
}

body h1 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

body h2 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

body h3 {
  color: #3c4258;
  font-size: 18px;
  line-height: 1.8;
}

body h4 {
  font-size: 16px;
  font-weight: 400;
}

body h5 {
  font-size: 14px;
  font-weight: 300;
}

body .btn {
  display: block;
  margin: 0 auto;
  background-color: #b636ff;
  border-radius: 4px;
  border: 1px solid #b636ff;
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

body .btn:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  background: #9f00ff;
  border: 1px solid #9f00ff;
}

body img {
  max-width: 100%;
}

header {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

header nav {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

header nav .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .desktop-menu a {
  text-transform: uppercase;
}

header nav .desktop-menu .logo a {
  color: #d92cf9;
  font-weight: 700;
  font-size: 16px;
}

header nav .desktop-menu .desktop-menu__nav li {
  display: inline-block;
  margin: 0 15px;
}

header nav .desktop-menu .desktop-menu__nav li:first-child {
  margin-left: 0;
}

header nav .desktop-menu .desktop-menu__nav li:last-child {
  margin-right: 0;
}

header nav .desktop-menu .desktop-menu__nav li a {
  color: #6a708e;
}

header nav .desktop-menu .desktop-menu__nav li a:hover {
  color: #d92cf9;
}

header nav .desktop-menu .desktop-menu__nav li .current-link {
  color: #d92cf9;
}

header nav .desktop-menu,
header nav .mobile-menu {
  height: 70px;
}

header nav .mobile-menu {
  display: none;
}

header nav .mobile-menu__nav {
  position: fixed;
  right: 0%;
  top: 70px;
  width: 0;
  height: 100vh;
  background-color: #ffffff;
  border-top: 1px solid #999fb3;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

header nav .mobile-menu__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 15px 25px;
}

header nav .mobile-menu__nav ul li {
  margin-bottom: 1rem;
}

header nav .mobile-menu__nav ul li a {
  opacity: 0;
  color: #6a708e;
  font-size: 26px;
  text-transform: uppercase;
}

.btn {
  color: #ffffff;
}

#welcome-hero {
  background-image: url(../images/welcome-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 890px;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
}

#welcome-hero .header-content {
  position: relative;
  z-index: 100;
}

#welcome-hero .header-content h1 {
  text-align: center;
}

#welcome-hero .header-content h1 b {
  color: #d92cf9;
}

#welcome-hero .header-content p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 30px 0 60px;
  text-align: center;
}

#welcome-hero:before {
  content: "";
  position: absolute;
  top: 70px;
  width: 100%;
  height: calc(100% - 70px);
  background: rgba(31, 44, 108, 0.65);
}

main section {
  padding: 50px 0 100px;
}

main section .section-heading {
  padding-bottom: 50px;
  border-bottom: 2px solid #e5ebf2;
}

main section .section-heading h2 {
  text-align: center;
}

main .container {
  padding: 0 10px;
}

main #about .about-content {
  padding-top: 100px;
}

main #about .about-content .col {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  max-width: 585px;
}

main #about .about-content .col .text-container {
  padding: 0 15px;
}

main #about .about-content .col .text-container .text-container__description {
  border-bottom: 1px solid #999fb3;
  padding: 35px 0 43px;
}

main #about .about-content .col .text-container .row .col-sm {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 35px 0px;
}

main #about .about-content .col .text-container .row .col-sm h3 {
  text-transform: capitalize;
}

main #about .about-content .col .text-container .row .col-sm a {
  color: #999fb3;
}

main #about .about-content .col:last-child {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

main #about .about-content .col .image-container {
  position: relative;
}

main #about .about-content .col .image-container .image-list__icons {
  background-color: #1f2c6c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90px;
}

main #about .about-content .col .image-container .image-list__icons ul > li {
  display: inline-block;
  margin-left: 20px;
  width: 30px;
  text-align: center;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
}

main #about .about-content .col .image-container .image-list__icons ul > li a {
  color: #ffffff;
}

main #about .about-content .col .image-container .image-list__icons ul > li:first-child {
  margin-left: 0;
}

main #education {
  background-color: #f9fbfd;
}

main #education .container {
  padding-top: 50px;
}

main #education .col {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

main #education .col .experience-time h2 {
  font-size: 20px;
  font-weight: 400;
}

main #education .col .experience-time h3 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}

main #education .col .timeline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 0 30px;
}

main #education .col .timeline .circle {
  background-color: #d92cf9;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}

main #education .col .timeline .line {
  background-color: #999fb3;
  display: inline-block;
  height: 2px;
  width: 100%;
}

main #education .col .timeline-content h4 {
  font-size: 20px;
  font-weight: 400;
}

main #education .col .timeline-content h5 {
  font-size: 12px;
  font-weight: 300;
  margin: 15px 0;
}

main #education .col .timeline-content p {
  color: #999fb3;
  max-width: 335px;
}

main #education .col:last-child .timeline .line {
  max-width: 50%;
}

main #skills {
  border-bottom: 2px solid #e5ebf2;
}

main #skills .container {
  padding-top: 50px;
}

main #skills .col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main #skills .col .bar-wrapper {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

main #skills .col .bar-wrapper .single-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

main #skills .col .bar-wrapper .single-progress .progress {
  border-radius: 3px;
  overflow: visible;
  background: #e6ecf3;
  height: 8px;
  margin-top: 15px;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

main #skills .col .bar-wrapper .single-progress .progress .progress-bar {
  height: 8px;
  background-color: #d92cf9;
  border-radius: 3px;
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

main #skills .col .bar-wrapper .single-progress h3 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  color: #a606c3;
  position: relative;
  top: 6px;
  left: 20px;
}

main #experience {
  border-bottom: 2px solid #e5ebf2;
}

main #experience .main-timeline {
  position: relative;
  padding-top: 100px;
}

main #experience .main-timeline .timeline-box {
  margin-bottom: 75px;
}

main #experience .main-timeline .timeline-box .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

main #experience .main-timeline .timeline-box .row .col {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  text-align: right;
}

main #experience .main-timeline .timeline-box .row .col .experience-time h2 {
  font-size: 18px;
  font-weight: 400;
}

main #experience .main-timeline .timeline-box .row .col .experience-time h3 {
  font-size: 16px;
  font-weight: 300;
  margin-top: .5rem;
  text-transform: uppercase;
}

main #experience .main-timeline .timeline-box .row .col .experience-description h4 {
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

main #experience .main-timeline .timeline-box .row .col .experience-description h4 span {
  position: absolute;
  top: 0;
  right: -12%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d92cf9;
}

main #experience .main-timeline .timeline-box .row .col .experience-description h5 {
  font-size: 14px;
  font-weight: 300;
  margin: 18px 0 20px;
}

main #experience .main-timeline .timeline-box .row .col .experience-description p {
  font-size: 14px;
}

main #experience .main-timeline .timeline-box .row .col:nth-child(2n) {
  text-align: left;
}

main #experience .main-timeline .timeline-box .row .col:nth-child(2n) .experience-description h4 > span {
  left: -12%;
}

main #experience .main-timeline:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 105px;
  margin: 0 auto;
  background-color: #999fb3;
  width: 2px;
  height: 78%;
  z-index: -1;
}

main #profiles {
  border-bottom: 2px solid #e5ebf2;
}

main #profiles .profiles-content {
  padding-top: 100px;
}

main #profiles .profiles-content .row:last-child .col {
  border-top: 1px solid #999fb3;
}

main #profiles .profiles-content .col {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border-right: 1px solid #999fb3;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main #profiles .profiles-content .col .profile .profile-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #profiles .profiles-content .col .profile .profile-txt a {
  text-align: center;
}

main #profiles .profiles-content .col .profile .profile-txt a i {
  color: #6a708e;
  font-size: 40px;
}

main #profiles .profiles-content .col .profile .profile-txt .profile-name {
  display: block;
  color: #636a82;
  font-size: 16px;
}

main #profiles .profiles-content .col:last-child {
  border-right: 0;
}

main #profiles .profiles-content .col::before {
  content: '';
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #d92cf9;
  opacity: 0;
  z-index: -1;
  -webkit-transition: width, height, -webkit-transform .4s ease-in-out;
  transition: width, height, -webkit-transform .4s ease-in-out;
  transition: width, height, transform .4s ease-in-out;
  transition: width, height, transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

main #profiles .profiles-content .col:hover .profile .profile-txt a > i {
  color: #ffffff;
}

main #profiles .profiles-content .col:hover .profile .profile-txt .profile-name {
  color: #ffffff;
}

main #profiles .profiles-content .col:hover:before {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: width, height, -webkit-transform .4s ease-in-out;
  transition: width, height, -webkit-transform .4s ease-in-out;
  transition: width, height, transform .4s ease-in-out;
  transition: width, height, transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

main #portfolio {
  border-bottom: 2px solid #e5ebf2;
}

main #portfolio .portfolio-content {
  padding-top: 100px;
}

main #portfolio .portfolio-content .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #portfolio .portfolio-content .col {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

main #portfolio .portfolio-content .col .portfolio-box {
  position: relative;
  margin: 22px 15px;
  overflow: hidden;
}

main #portfolio .portfolio-content .col .portfolio-box .portfolio__image img {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

main #portfolio .portfolio-content .col .portfolio-box .portfolio__link {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
  opacity: 0;
}

main #portfolio .portfolio-content .col .portfolio-box .portfolio__link a {
  color: #ffffff;
  text-transform: uppercase;
}

main #portfolio .portfolio-content .col .portfolio-box:hover .portfolio__image img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

main #portfolio .portfolio-content .col .portfolio-box:hover .portfolio__link {
  background: rgba(31, 44, 108, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

main #clients {
  border-bottom: 2px solid #e5ebf2;
}

main #clients .clients-container {
  overflow: hidden;
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 1rem 0;
}

main #clients .clients-container .swiper-wrapper .swiper-slide {
  max-width: 162px;
}

main #clients .clients-container .swiper-wrapper .swiper-slide .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #contact {
  background-color: #f9fbfd;
}

main #contact .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #contact form {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 457px;
}

main #contact form .form-group {
  display: inherit;
}

main #contact form .form-group .form-field {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main #contact form .form-field {
  margin: 0 2% 4%;
}

main #contact form .form-field input {
  border: 1px solid #999fb3;
  padding: 10px;
  width: 100%;
}

main #contact form .form-field .fill {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main #contact form .form-field textarea {
  border: 1px solid #999fb3;
  padding: 10px;
  min-width: 100%;
  max-width: 100%;
  max-height: 120px;
  min-height: 120px;
}

main #contact form .form-field button {
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}

main #contact .col {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  text-align: left;
  padding-top: 100px;
  padding: 100px 10%;
}

main #contact .col .contact-info {
  margin-bottom: 15px;
}

main #contact .col .contact-info h3 {
  font-size: 20px;
  font-weight: normal;
}

main #contact .col .contact-info a {
  color: #6a708e;
}

main #contact .col .contact-info ul li {
  display: inline-block;
  margin-right: 18px;
}

main #contact .col .contact-info ul li a {
  color: #6a708e;
}

main #contact .col .contact-info:first-child h3 {
  font-size: 30px;
  font-weight: bold;
}

footer .privacy {
  text-align: center;
  padding: 15px 0;
}

footer .scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  z-index: 1000;
}

footer .scroll-to-top a {
  background-color: #d92cf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b636ff;
  border-radius: 50%;
  color: #ffffff;
  width: 40px;
  height: 40px;
}

footer .scroll-to-top a:hover {
  color: #d92cf9;
  background-color: #ffffff;
}

@media only screen and (max-width: 1000px) {
  header {
    position: fixed;
    width: 100vw;
  }
  header nav .desktop-menu {
    display: none;
  }
  header nav .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .mobile-menu .logo a {
    color: #d92cf9;
    font-weight: 700;
    font-size: 16px;
  }
  header nav .mobile-menu .burger__btn {
    position: relative;
    background-color: #b636ff;
    border-radius: 4px;
    border: 1px solid #d92cf9;
    width: 50px;
    height: 50px;
  }
  header nav .mobile-menu .burger__btn span, header nav .mobile-menu .burger__btn span:before, header nav .mobile-menu .burger__btn span:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background-color: #ffffff;
  }
  header nav .mobile-menu .burger__btn span:before {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  header nav .mobile-menu .burger__btn span:after {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  header nav .mobile-menu .active span {
    height: 0;
  }
  header nav .mobile-menu .active span:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header nav .mobile-menu .active span:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header nav .mobile-menu-nav__active {
    width: 80%;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
  }
  header nav .mobile-menu-nav__active ul li > a {
    opacity: 1;
  }
  #welcome-hero {
    height: 768px;
  }
}

@media only screen and (min-width: 319px) and (max-width: 720px) {
  .container {
    padding: 0 10px;
  }
  .container .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .row .col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .container .row .col-sm {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    margin: 15px 0;
  }
  main #about .about-content .col .text-container {
    padding: 0;
  }
  main #about .about-content .col .image-container {
    max-width: 300px;
    margin: 0 auto;
  }
  main #about .about-content .col .image-container .image-list__icons {
    bottom: -56px;
  }
  main #about .about-content .col .image-container .image-list__icons ul > li {
    width: 30px;
  }
  main #education .timeline-content {
    padding-bottom: 2.5rem;
  }
  main #education .timeline-content:last-child {
    padding-bottom: 0;
  }
  main #skills .col .bar-wrapper .single-progress h3 {
    left: 5%;
  }
  main #experience .main-timeline ul li:nth-child(2n) .timeline-box .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  main #experience .main-timeline::before {
    content: none;
  }
  main #experience .main-timeline .timeline-box .row .col .experience-description h4 span {
    display: none;
  }
  main #experience .main-timeline .timeline-box .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  main #experience .main-timeline .timeline-box .row .col {
    text-align: left;
  }
  main #portfolio .portfolio-content .col .portfolio-box {
    margin: 15px 0;
  }
  main #contact form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main #contact .col {
    padding: 100px 0 0 0;
  }
}
